.container{
    position:sticky;
    top:0;
    left:0;
    height:60px;
    width:100%;
    z-index:9999;
    background-color: #fff;
    border-bottom: 1px solid #888;
}

.wrapper{
    max-width: 1180px;
    margin:0 auto;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.25rem 1.25rem;
}
.left{
    text-decoration:none;
    font-size:26px;
    font-weight:bold;
    display:flex;
    align-items: center;
    gap:0.5rem;
    color:#dc159a;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.25rem;
    list-style:none;
    cursor:pointer;
    font-size:18px;
}
.center> .listItem{
    color:#d00474;
    transition: 150ms all ease-in-out;
}
.center> .listItem{
   color:#d00474;
}
.right{
    display:flex;
    align-items: center;
    gap:0.75rem;
}

.right > a:first-child{
    text-decoration: none;
    padding: 0.4rem 1.2rem;
    background-color: #f13bcc;
    color:#fff;
    border:1px solid transparent;
    border-radius: 12px;
    font-size: 18px;
    cursor:pointer;
    transition: 150ms all;
}
.right> a:first-child:hover{
    border-color: #f13bcc;
    color: #f13bcc;
    background-color: #fff;
}
.right > a:nth-child(2){
    color: #f13bcc;
    font-size: 18px;
    cursor:pointer;
    text-decoration: none;
}