footer {
    width: 100%;
    height: 400px;
    margin-top: 10rem;
}
.container{
    margin-top: 20px;
    background-color: rgb(225, 119, 194);
}

.wrapper {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: aliceblue;
}

.col>h2 {
    margin-bottom: 15px;
    justify-self: flex-start;
    margin-left: -5px;
}

.col>p {
    max-width: 425px;
    color: #f5f5f5;
    font-size: 15px;
}
